body{
    background-color: #d7cec7;
    margin: 0;
}

.search-box{
   position: absolute; 
   left: 30%;
   top: 3%;
   background: #FFFFFF;
   height: 25px;
   width: 500px;
   padding: 10px;
   border-radius: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    width: 450px;
}

.home{
    position: absolute;
    top: 3%;
    left: 2%;
}

.logo{
    float: right;
    top: 5%;
    right: 5%;
}
